body {
   /*padding: 50px 10px 10px 10px; */
  background-color: #eeeef0
  padding: 20px 10%;
}

h1 {
  background-color: #345;
  color: #eeeef0;
  padding: 15px;
}

.main-body {
  font-family: Merriweather;
  line-height: 1.8em;
}
