body {
    /*padding: 50px 10px 10px 10px; */
    background-color: #eeeef0;
    /* padding: 20px 10%; */
    max-width: 960px;
    margin: 20px auto 20px auto;
}
h1 {
    background-color: #345;
    color: #eeeef0;
    padding: 15px;
}
.main-body, .first-para {
    font-family: Merriweather;
    line-height: 1.8em;
}
.main-body {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 250px;
    -moz-column-width: 250px;
    column-width: 250px;
}
